
body {background-image: url("https://static.vecteezy.com/system/resources/previews/005/190/412/non_2x/panoramic-pattern-pink-background-with-many-white-hearts-vector.jpg");}
h1 {background-color: antiquewhite;}
h1 {text-align: center;}
h1 {text-decoration: underline;}
h2 {background-color: antiquewhite;}
img {width: 400px;
height: 400px;}


